* /* applicable to all the html tags */
{
	margin: 0;
	padding: 0;
	font-family: 'Heebo', sans-serif;
	color: white;
	
}

.header
{
	min-height: 100vh;
	min-width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.65), rgba(4,9,30,0.65)), url(app.jpg); /* A-alpha - defines transperancy or opaqueness value between 0-1*/
	background-position: center;
	background-size: cover;
	position: relative;
	
}
.partion
{
	background: rgba(97, 97, 97, 0.6);

	margin: 100px;
	margin-top: 60px;
	display: inline-flex;
	justify-content: space-between;
	margin-left: 9%;
	width: 80%;
	padding: 20px;
	padding-top: 50px;
	padding-bottom: 30px;
}
.partion-one
{	
	width: 50%;
	min-height: 100%;
	padding-left: 80px;
	align-items: baseline;
}
.login-list
{
	margin-top: 175px;
	margin-bottom: 30px;
	padding-left: 10%;
}
.login-list-item
{
	color: #fff;
	text-decoration: none;
}
.login-list-item:hover::after
{
	width: 100%;
}
.partion-two
{
	width: 50%;
	padding-left: 20px;
	padding-top: 18px;
}
.heading
{
	font-size: 20px;
}
.bound
{
	display: inline-flex;
}
#bound-two
{
	padding-left: 120px;
}
.input-area
{
	align-items: right;
	display: inline-flex;
	width: 300px;
	height: 40px;
	padding-left: 30px;
	color: black;
}
.log-in-button
{
	width: 200px;
	color: #fff; 
	text-align: center;
	font-size: 18px;
	text-decoration: none;
	color: rgb(0, 0, 0);
	border: 1px solid #fff;
	padding: 12px 10px;
	background-color: #fff;
	position: relative;
	cursor: pointer;
	margin-left: 2px;
}
.log-in-button:hover
{
	background-color: rgb(34 197 94);
	color: #fff;
	transition: 0s;
}
#input-city
{
	width: 218px;
	padding-left: 30px;
	margin-left: 20px;
}
.city-op
{
	width: 300px;
	height: 40px;
	padding-left: 30px;
	color: black;
}
#input-taluka
{
	width: 200px;
	padding-left: 30px;
	margin-left: 20px;
}
#partion-one-signIN-user
{
	margin-top: 360px;
}
#input-time
{
	width: 195px;
	padding-left: 30px;
	margin-left: 20px;
}

#partion-one-signIN-station
{
	margin-top: 533px;
}

/* Tailwind CSS styles */
.flex {
	display: flex;
  }
  .items-center {
	align-items: center;
  }
  .justify-center {
	justify-content: center;
  }
  .sm\:flex-row {
	@media (min-width: 640px) {
	  flex-direction: row;
	}
  }
  .flex-col {
	flex-direction: column;
  }
  .sm\:ml-4 {
	@media (min-width: 640px) {
	  margin-left: 1rem;
	}
  }
  .sm\:pl-4 {
	@media (min-width: 640px) {
	  padding-left: 1rem;
	}
  }
  .sm\:border-l-2 {
	@media (min-width: 640px) {
	  border-left-width: 2px;
	}
  }
  .sm\:py-2 {
	@media (min-width: 640px) {
	  padding-top: 0.5rem;
	  padding-bottom: 0.5rem;
	}
  }
  .sm\:mt-0 {
	@media (min-width: 640px) {
	  margin-top: 0;
	}
  }
  .mt-4 {
	margin-top: 1rem;
  }
  .ml-3 {
	margin-left: 0.75rem;
  }
  .inline-flex {
	display: inline-flex;
  }
  .sm\:ml-auto {
	@media (min-width: 640px) {
	  margin-left: auto;
	}
  }
  .justify-start {
	justify-content: flex-start;
  }
  